<ion-view view-title="Ajouter une recette">
    <ion-content>   
        <div class="list">
            <form name="addForm" novalidate>
                <label class="itemform item-input">
                    <input type="text" name="nameInput" ng-model="nameInput" ng-minlength="6" placeholder="Nom" required>
                </label>

                <label class="itemform item-input">
                    <textarea placeholder="Ingredients" name="ingredientsInput" ng-model="ingredientsInput" rows="8" ng-minlength="20" required></textarea>
                </label>
                <label class="itemform item-input">
                    <textarea placeholder="Recette" name="descriptionInput" ng-model="descriptionInput" rows="8" ng-minlength="20" required></textarea>
                </label>
                <label class="itemform item-input">
                    <input type="file" ng-model="imgInput">
                </label>

                <label class="itemform item-input">
                    <input type="number" name="priceInput" ng-model="priceInput" placeholder="Prix">
                </label>
                <label class="itemform item-input">
                    <input type="number" name="timeInput" ng-model="timeInput" placeholder="Temps de réalisation">
                </label>
                <!--<input type="hidden" name="fbuserInput" ng-model="fbuserInput" value="{{auth.profile.name}}">
                <input type="hidden" name="fbidInput" ng-model="fbidInput" value="{{auth.profile.user_id}}">
                <input type="hidden" name="fbpictureInput" ng-model="fbpictureInput" value="{{auth.profile.picture_large}}">-->

                <div class="">
                    <p ng-show="addForm.nameInput.$error.required">* Un nom de recette est requis</p>
                    <p ng-show="addForm.nameInput.$error.minlength">* Le nom de recette n'a pas assez de caractères</p>

                    <p ng-show="addForm.ingredientsInput.$error.required">* Des ingrédients sont requis</p>
                    <p ng-show="addForm.ingredientsInput.$error.minlength">* Il n'y a pas assez d'informations dans les ingrédients</p>

                    <p ng-show="addForm.descriptionInput.$error.required">* Une recette est requise</p>
                    <p ng-show="addForm.descriptionInput.$error.minlength">* Il n'y a pas assez d'informations dans la recette</p>
                </div>


                <button class="button button-block button-calm" type="submit" ng-disabled="addForm.$invalid" ng-click="addRecette(nameInput, ingredientsInput, descriptionInput, imgInput, priceInput, timeInput, typeInput, difficultyInput)">
                    <i class="fa fa-plus"> </i> Valider
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>