<ion-view view-title="Ajouter une recette">
    <ion-content>  
    <img src="img/1.gif" alt="photo" class="gif"> 
        <div class="list">
            <form name="addForm" novalidate>
                <label class="itemform item-input">
                    <input type="text" name="nameInput" ng-model="nameInput" ng-minlength="6" placeholder="Nom" required>
                </label>

                <label class="itemform item-input">
                    <textarea placeholder="Ingredients" name="ingredientsInput" ng-model="ingredientsInput" rows="8" ng-minlength="20" required></textarea>
                </label>
                <label class="itemform item-input">
                    <textarea placeholder="Recette" name="descriptionInput" ng-model="descriptionInput" rows="8" ng-minlength="20" required></textarea>
                </label>
                <label class="itemform item-input">
                    <input type="number" name="timeInput" ng-model="timeInput" placeholder="Temps de réalisation">
                </label>

                <div class="critere">
                    <p ng-show="addForm.nameInput.$error.required">* Un nom de recette est requis</p>
                    <p ng-show="addForm.nameInput.$error.minlength">* Le nom de recette n'a pas assez de caractères</p>

                    <p ng-show="addForm.ingredientsInput.$error.required">* Des ingrédients sont requis</p>

                    <p ng-show="addForm.descriptionInput.$error.required">* Une recette est requise</p>

                </div>


                <button class="button button-block button-calm" type="submit" ng-disabled="addForm.$invalid" ng-click="addRecette(nameInput, ingredientsInput, descriptionInput, imgInput, timeInput)">
                    <i class="fa fa-plus"> </i> Valider
                </button></a>
            </form>
        </div>
    </ion-content>
</ion-view>