<ion-view view-title="Recettes coups de coeur">
  <ion-content>
    
    <div class="recettecoup text-center">

    	<a href="search.html"><img src="img/slide3.jpg" alt="photo" class="img"></a>

	    <div class="row coupc">
	        <div class="dev">
		        <a ui-sref="app.recette"><img src="img/food3.jpg" alt="photo" class="img"></a>
	        </div>
		    <div class="dev">
			    <a href="#.html"><img src="img/food2.jpg" alt="photo" class="img"></a>
			</div>
		</div>

	</div>

  </ion-content>

</ion-view>
