<ion-view view-title="Recettes coups de coeur">
  <ion-content>
  <div class="grandediv">
	    <div class="recettecoup text-center">
	    	<a ui-sref="app.recette"><img src="img/slide3.jpg" alt="photo" class="img"></a>
		    <div class="row coupc">
			    <div class="dev">
				    <a ui-sref="app.recette2"><img src="img/food3.jpg" alt="photo" class="img"></a>
			    </div>
			    <div class="dev">
				    <a ui-sref="app.recette9"><img src="img/bagelvege1.png" alt="photo" class="img"></a>
				</div>
			</div>
		</div>
		<div class="bloc1">
			<p>Les recettes sélectionnées par les internautes la semaine dernière <i class="ion-happy-outline"></i></p>
		</div>
	</div>
  </ion-content>
</ion-view>
