<ion-view view-title="In the Kitchen">
  <ion-content >
      <div ng-controller="PlaylistsCtrl as vm">
        <ion-slide-box show-pager="true" on-slide-changed="vm.onSlideChanged($index)">
          <ion-slide ng-repeat="item in vm.items">
            <div class="box">
              <div class="titre texte center">

              <img ng-src="{{item.desc}}" class="img"/>
              <!-- mettre titre ds le slide " Mhumm..pstss.. ! Les recettes de la semaine prohaine"-->
            </div>
          </div>
          </ion-slide>
        </ion-slide-box>    
      </div>
      <div class="text-center textehome">
        <h4>Vos petites recettes du jour </h4>

        <p> In the kitchen vous présente chaque semaine des recettes simples à réaliser !</p>
        <p> Une recette pour chaque jour et pour tout les goûts!</p>
      
      </div>
      <div class="row R">
        <div class="col border">
          <a ui-sref="app.recette5"><img src="img/melon.jpg" alt="photo" class="imgh"></a>
          <h5>Lundi</h5> 
          <p>On culpabilise des excés du week-end.. Alors ce sera une petite salade a l'italienne.</p>
        </div>

        <div class="col border">
         <a ui-sref="app.recette4"><img src="img/food9.jpg" alt="photo" class="imgh"></a>
         <h5>Mardi</h5> 
         <p>C'est poilé de poulet au parmesan en sauce, pour une soirée en amoureux</p>
        </div>
      </div>

      <div class="row R">
        <div class="col border">
          <a ui-sref="app.recette3"><img src="img/food8.jpg" alt="photo" class="imgh"></a>
          <h5>Mercredi</h5>
          <p>On opte pour un poulet au parmesan. Petite recette pour épater vos amis!</p>
        </div>

        <div class="col border">
         <a ui-sref="app.recette6"><img src="img/bagelmiel.jpg" alt="photo" class="imgh"></a>
         <h5>Jeudi</h5> 
         <p>C'est soirée match! Ce sera Bagel devant la télé!</p>
        </div>
      </div>

      <div class="row R">
        <div class="col border">
          <a ui-sref="app.recette7"><img src="img/recette7.jpg" alt="photo" class="imgh"></a>
          <h5>Vendredi</h5>
          <p>On mélange sucré salé!</p>
        </div>
        <div class="col border">
         <a ui-sref="app.recette8"><img src="img/food7.jpg" alt="photo" class="imgh"></a>
         <h5>Samedi</h5> 
         <p>On fait plaisir à nos amis Végétariens, on test l'Hamburger façon Végé!</p>
        </div>
      </div>
    </ion-content>  
</ion-view>
