<ion-view view-title="HOME">
  <ion-content >
      <div ng-controller="PlaylistsCtrl as vm">
        <ion-slide-box show-pager="true" on-slide-changed="vm.onSlideChanged($index)">
          <ion-slide ng-repeat="item in vm.items">
            <div class="box">
              <div class="titre texte center">

              <img src="{{item.desc}}" class="img"/>
              <!-- mettre titre ds le slide " Mhumm..pstss.. ! Les recettes de la semaine prohaine"-->
            </div>
          </div>
          </ion-slide>
        </ion-slide-box>    
      </div>
      <div class="text-center">
        <h4>Vos petites recettes du jour </h4>

        <p> In the kitchen vous présente chaque semaine des recettes simples à réaliser !</p>
      </div>
      <div class="row">
        <div class="col border">
          <img src="img/food8.jpg" alt="photo" class="imgh">
        </div>
        <div class="col border">
         <img src="img/food9.jpg" alt="photo" class="imgh">
        </div>
      </div>
      <div class="row">
        <div class="col border">
          <img src="img/melon.jpg" alt="photo" class="imgh">
        </div>
        <div class="col border">
         <img src="img/bagelmiel.jpg" alt="photo" class="imgh">
        </div>
      </div>
      <div class="row">
        <div class="col border">
          <img src="img/food8.jpg" alt="photo" class="imgh">
        </div>
        <div class="col border">
         <img src="img/food9.jpg" alt="photo" class="imgh">
        </div>
      </div>
    </ion-content>  
</ion-view>
