<ion-view view-title="Recette">
  <ion-content elastic-image="the-image-id" class="padding">
    
    <div class="recettepers">
      
      <div class="container">
      
         <div id="the-image-id" class="elastic-image">
          <img src="img/food7.png" alt="photo" class="food">
        </div>

        <div class="contentetiquette">
          <img src="img/etiquette3.png" alt="photo" class="etiquette">
        </div>

        <div class="the-content">

          <h2>Burger végétarien</h2>

          <div class="text-center">
              
            <p><i class="ion-fork"></i> Pour 2 personnes :</p>

            <p>Difficulté  <i class="ion-ios-circle-filled"></i><i class="ion-ios-circle-filled"></i><i class="ion-ios-circle-filled"></i><i class="ion-ios-circle-outline"></i><i class="ion-ios-circle-outline"></i></p>

            <img src="img/point.png" alt="photo" class="point">
            
            
            <p>Les galettes de pois chiche :</p>

            <p>125 g de pois chiche en conserve</p>
            <p>15 g de feta</p>
            <p>1 cs d’huile d’olive</p>
            <p>1 oeuf</p>
            <p>1 cc de graines de sésame</p>
            <p>Sel, poivre</p>

            <p>Les hamburgers :</p>

            <p>2 buns à hamburger maison</p>
            <p>2 tomates</p>
            <p>1/2 courgette</p>
            <p>De la roquette</p>
            <p>De l’huile de sésame</p>
            <p>3 cs de fromage blanc</p>
            <p>1 cs de jus de citron</p>
            <p>1 cc de graines de moutarde (facultatif)</p>
            <p>6 olives noires</p>
            <p>Un peu de persil</p>
   
            
            <img src="img/point.png" alt="photo" class="point">


          </div> 

          <div class="text-recette">
            <img src="img/bol.png" alt="photo" class="iconc">

            <p>Les galettes de pois chiche</p>
            <p>Versez les pois chiches débarrassés de leur peau dans le bol d’un mixeur. Ajoutez l’œuf, l’huile, la feta, des graines de sésame, un peu de sel, du poivre. Mixez jusqu’à obtenir une texture homogène.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/couteau.png" alt="photo" class="iconc">
            <p>Préparez une plaque avec du papier sulfurisé. Réalisez 2 steaks de la taille des buns en utilisant une cuillère à soupe. La consistance de la pâte ne permet de les façonner à la main. Vous devez les former avec la cuillère.</p>

            <img src="img/point.png" alt="photo" class="point">
      
            <img src="img/couteau.png" alt="photo" class="iconc">
            <p> Faites préchauffer votre four à 180°C et enfournez pour 15 minutes.Lorsque les galettes sont cuites, laissez-les refroidir à température ambiante. Pendant ce temps, préparez la garniture.</p>

            <img src="img/cuisson.png" alt="photo" class="iconc">

            <p>Les hamburgers</p>
            <p>Lavez la courgette et coupez 6 – 8 lamelles avec un économe. Déposez-les sur une assiette et arrosez-les d’huile de sésame et d’un peu de sel.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/couteau.png" alt="photo" class="iconc">

            <p> Coupez les tomates en rondelles.
            Mélangez le fromage blanc, les graines de moutarde concassées, le persil haché et le jus de citron.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/couteau.png" alt="photo" class="iconc">
            <p>Coupez les buns en deux, versez de la sauce.Ajoutez de la roquette, des rondelles de tomate, des lamelles de courgette et de nouveau des rondelles de tomates. Ajoutez par-dessus les galettes de pois chiche. Recouvrez de sauce et d’olives coupées en rondelles.</p>

            <img src="img/point.png" alt="photo" class="point">


            <p>Refermez le hamburger. Vous pouvez le déguster aussitôt ou le faire un peu réchauffer au four.</p>

            <img src="img/point.png" alt="photo" class="point">

             
          </div>
        </div>  
      </div>
       <a ui-sref="app.playlists"><img src="img/etiquettehome.png" alt="photo" class="etiquettehome"></a>

    </div>

  </ion-content>
</ion-view>   
