<ion-view view-title="Recette5">
  <ion-content elastic-image="the-image-id" class="padding has-footer">
    
    <div class="recettepers">
      
      <div class="container">
      
        <div id="the-image-id" class="elastic-image">
          <img src="img/melon2.png" alt="photo" class="food">
          
        </div>

        <div class="contentetiquette">
          <img src="img/etiquette3.png" alt="photo" class="etiquette">
        </div>

      <div class="the-content text-center">

          <h2>Salade de Melon à l'italienne</h2>

          <p>Des invités à la dernière minute ! Pas de panique ! Voici une petite salade à l'italienne tres bonne et rapide à faire ! </p>

          <div class="text-center">
              
            <p><img src="img/nombre.png" alt="photo" class="img3">Pour 4 personnes :</p>

            <img src="img/point.png" alt="photo" class="point">
         
            <p>Temps de préparation : 20 minutes </p>
            <p>3Temps de cuisson : 0 minutes </p>
            <p>Ingrédients (pour 4 personnes) : </p>
            <p>2 beaux melons (selon la grosseur)</p>
            <p>200 g de gorgonzola</p>
            <p>4 tranches de jambon de Parme</p>
            <p>1 bouquet de ciboulette</p>
            <p>150 g de pignons </p>
            <p>basilic frais </p>
            <p>2 cuillères à soupe huile d'olive</p>
            <p>1/2 citron</p>
          
            <img src="img/point.png" alt="photo" class="point">


          </div>


          <div class="text-recette">
            <img src="img/couteau.png" alt="photo" class="iconc">

            <p>Coupez les melons en deux et coupez la chair en petits dés ou en petites boules, mettez dans un plat. Rajoutez le jambon détaillé en lanières, puis le parmesan en copeaux et le gorgonzola en morceaux. Rajoutez les pignons, le basilic et le 1/2 citron. 
            Mettez une demie-heure au frais et juste avant de servir mettre l'huile d'olive, et du poivre concassé ....</p>

          </div>
          
        </div>  
      </div>
      
    </div>
      <a ui-sref="app.playlists"><img src="img/etiquettehome.png" alt="photo" class="etiquettehome"></a>
    </div>

  </ion-content>
</ion-view>   
