<ion-view view-title="Recette">
  <ion-content elastic-image="the-image-id" class="padding">
    
    <div class="recettepers">
      
      <div class="container">
      
         <div id="the-image-id" class="elastic-image">
          <img src="img/recette7.png" alt="photo" class="food">
        </div>

        <div class="contentetiquette">
          <img src="img/etiquette3.png" alt="photo" class="etiquette">
        </div>

        <div class="the-content">

          <h2>Crumble tomates et Chèvre frais</h2>

          <div class="text-center">
              
            <p><img src="img/nombre.png" alt="photo" class="img3">Pour 4 personnes :</p>

            <img src="img/point.png" alt="photo" class="point">
            
            
            <p>Pour le concassé de tomates et chèvre frais :</p>

            <p>4 tomates</p>
            <p>150 g de fromage de chèvre frais</p>
            <p>2 cuillères à soupe d'huile d'olive</p>
            <p>2 échalotes</p>
            <p>1 gousse d'ail</p>
            <p>1 brin de basilic</p>
            <p>1 pincée de Sel Fin La Baleine</p>
            <p>1 pincée de sucre</p>
            <p>Poivre</p>

            <p>Pour la pâte à crumble :</p>

            <p>70 g de farine</p>
            <p>70 g de parmesan</p>
            <p>70 g de beurre</p>
            <p>2 cuillères à soupe de chapelure fine</p>
            <p>1 branche de romarin frais</p>
   
            
            <img src="img/point.png" alt="photo" class="point">


          </div> 

          <div class="text-recette">
            <img src="img/cuisson.png" alt="photo" class="iconc">

            <p>Préparation Préchauffer le four à 180°C (thermostat 6) et sortir le beurre du réfrigérateur.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/cuisson.png" alt="photo" class="iconc">
            <p>Pour le concassé :Porter une casserole d'eau à ébullition.
            Retirer le pédoncule des tomates et les inciser à l'aide de la pointe d'un couteau avant de les plonger 20 secondes environ dans l'eau bouillante.Les retirer à l'aide d'une écumoire et les plonger dans un saladier d'eau froide afin de stopper la cuisson et ainsi les rafraîchir.</p>

            <img src="img/point.png" alt="photo" class="point">
      
            <img src="img/couteau.png" alt="photo" class="iconc">
            <p>Retirer la peau des tomates puis les découper en dés. Hacher finement l'ail et les échalotes.Faire revenir l'ail et les échalotes avec un filet d'huile d'olive puis ajouter les tomates en dés.Ajouter le basilic ciselé et une petite pincée de sucre pour enlever l'acidité des tomates.</p>

            <img src="img/cuisson.png" alt="photo" class="iconc">

            <p>Laisser mijoter à feu doux et à couvert pendant 10 minutes en remuant de temps en temps.En fin de cuisson, apporter une touche de Sel Fin La Baleine : saler à convenance. Poivrer.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/bol.png" alt="photo" class="iconc">

            <p>Pour la pâte à crumble : </p>
            <p>Dans un saladier, mélanger la farine, le parmesan, le beurre ramolli et les brins de romarin.Malaxer jusqu'à l'obtention d'une texture sablée.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/bol.png" alt="photo" class="iconc">
            <p>Dressage : </p>
            <p>Dans un plat à gratin préalablement huilé, alterner concassé de tomates et fromage de chèvre. Terminer avec la pâte à crumble.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/cuisson.png" alt="photo" class="iconc">

            <p>Cuire 10 minutes à 180°C (thermostat 6).Servir tiède ou froid, légèrement parsemé de Fleur de Sel La Baleine pour y apporter la touche d’exception et de croquant.Délicieux accompagné d'une salade de roquette !</p>

            <img src="img/point.png" alt="photo" class="point">

             
          </div>
        </div>  
      </div>
       <a ui-sref="app.playlists"><img src="img/etiquettehome.png" alt="photo" class="etiquettehome"></a>

    </div>

  </ion-content>
</ion-view>   
