<ion-view view-title="Recette6">
  <ion-content elastic-image="the-image-id" class="padding">
    
    <div class="recettepers">
      
      <div class="container">

        <div id="the-image-id" class="elastic-image">
          <img src="img/balgelmiel.png" alt="photo" class="food">
        </div>
      
    

        <div class="contentetiquette">
          <img src="img/etiquette3.png" alt="photo" class="etiquette">
        </div>

        <div class="the-content">

          <h2>Bagel chèvre, figues, miel et roquette</h2>

          <div class="text-center">
              
            <p><img src="img/nombre.png" alt="photo" class="img3">Pour 4 personnes :</p>

            <img src="img/point.png" alt="photo" class="point">
            

            <p>Ingrédients pour les pains :</p>

            <p>15cl d’eau</p>
            <p>15cl de lait</p>
            <p>30g de sucre</p>
            <p>1/2cs de sel</p>
            <p>40 g de beurre</p>
            <p>500 g de farine</p>
            <p>1 sachet de levure de boulanger déshydratée</p>
            <p>graines pour la décor</p>
            
            <img src="img/point.png" alt="photo" class="point">
            
            <p>Pour la cuisson :</p>

            <p>1 litre d’eau</p>
            <p>50 g de bicarbonate de sodium</p>

          
            <img src="img/point.png" alt="photo" class="point">

          </div> 

          <div class="text-recette">
            <img src="img/bol.png" alt="photo" class="iconc">

            <p>Verser dans un saladier (ou bol du pétrisseur) la farine mélangée à la levure.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/couteau.png" alt="photo" class="iconc">
            <p>Ajouter le beurre coupé en dés, le sel, le sucre, le lait et l’eau.</p>

            <img src="img/point.png" alt="photo" class="point">
      
            <img src="img/bol.png" alt="photo" class="iconc">
            <p>Commencer à mélanger la pâte et lorsqu’une boule commence à se former, pétrir pendant 5-6 min (vitesse 2 avec le robot).</p>

            <img src="img/point.png" alt="photo" class="point">

            <p> Former une boule et placer la pâte dans un saladier fariné. Filmer au contact et laisser lever toute la nuit au frigo.
            Le lendemain, façonnage et cuisson : Prélever des boules de pâte, former un rond applati et à l’aide d’une verrine ou d’un emporte-pièce réalisez un trou au centre. Etirer un peu le cercle obtenu.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/cuisson.png" alt="photo" class="iconc">
            <p>Faire bouillir l’eau avec le bicarbonate dans une grande casserole d’eau.</p>

            <img src="img/point.png" alt="photo" class="point">

            <p>Verser deux par deux les bagels et les faire pocher 30 secondes, le temps qu’ils remontent à la surface.</p>

            <img src="img/point.png" alt="photo" class="point">

            <p>Les déposer sur une plaque garnie de papier sulfurisé en les espaçant car ils vont gonfler.</p>

            <img src="img/point.png" alt="photo" class="point">

            <p>Saupoudrer de graines de pavot ou de sésame.</p>

            <img src="img/point.png" alt="photo" class="point">

            <p>Préchauffer votre four à 200°C et enfourner pour 15min.</p>

            <img src="img/point.png" alt="photo" class="point">
            
         
            <div class="text-center">
            
            <p>Ingrédients pour la garniture :

            <p>chèvre frais</p>
            <p>une poignée de roquette</p>
            <p>des figues</p>
            <p>du miel</p>
            <p>huile d’olive</p>
            <p>sel, poivre</p>

            </div>
            
            <img src="img/point.png" alt="photo" class="point">

            <img src="img/couteau.png" alt="photo" class="iconc">
            <p>Couper votre pain en deux et le faire toaster.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/couteau.png" alt="photo" class="iconc">
            <p>Couper des lamelles de figues fraîches.</p>

            <img src="img/point.png" alt="photo" class="point">

            <p>Tartiner votre pain de chèvre frais. Disposer des lamelles de figues.</p>

            <img src="img/point.png" alt="photo" class="point">

            <p>Arroser d’une c.à.c de miel. Ajouter la roquette, un filet d’huile d’olive, salé et poivré. Déguster aussitôt !</p>
             
          </div>
        </div>  
      </div>
       <a ui-sref="app.playlists"><img src="img/etiquettehome.png" alt="photo" class="etiquettehome"></a>

    </div>

  </ion-content>
</ion-view>   
