<ion-view view-title="Search">
  <ion-content elastic-image="the-image-id" class="padding">
    
    <div class="recettepers">
      
      <div class="container">
      
        <div id="the-image-id" class="elastic-image" style="background-image: url(../img/frecette1.jpg)"></div>
    
        <div class="the-content">

          <h2>Salade légère au saumon pomelo et konjac</h2>

          <div class="text-center">
              
            <p><img src="img/nombre.png" alt="photo" class="img3">Pour 4 personnes :</p>

            <img src="img/point.png" alt="photo" class="point">
            
            <p>400 g de pâtes de konjac </p>
            <p>350 g de carpaccio de saumon frais </p>
            <p>1 laitue iceberg </p>
            <p>2 kiwis </p>
            <p>3 pomelos</p>
            <p>½ citron </p>
            <p>1 bouquet de ciboulette</p>
            <p>10 cl de crème liquide allégée </p>
            <p>1 c. à s. de graines de pavot </p>
            <p>1 c. à c. de moutarde forte </p>
            <p>Sel</p>
            <p>Poivre du moulin</p>
          
            <img src="img/point.png" alt="photo" class="point">

          </div>

          <div class="text-recette">

            <p>Rincez les pâtes de konjac sous l'eau froide. Portez à ébullition une casserole d'eau, retirez du feu, puis versez les pâtes. Couvrez et laissez reposer 5 minutes, puis égouttez.</p>

            <img src="img/point.png" alt="photo" class="point">


            <p>Pelez à vif les pomelos, puis découpez les quartiers, en retirant la pellicule qui les entoure. Pelez les kiwis, coupez-les en quatre, puis en tranches minces. Rincez la salade et émincez-la. Rincez la ciboulette et hachez-la.</p>

            <img src="img/point.png" alt="photo" class="point">


            <p>Dans un bol, mélangez la crème, la moutarde, le jus du citron, la ciboulette, du sel et du poivre. Disposez sur 4 assiettes la laitue émincée, les pâtes de konjac et des tranches de carpaccio de saumon.</p>

            <img src="img/point.png" alt="photo" class="point">

            <p> Ajoutez les quartiers de pomelo et les tranches de kiwi. Nappez de sauce, décorez de graines de pavot et servez aussitôt.</p>

          </div>
          
        </div>  
      </div>
    </div>

  </ion-content>
</ion-view>   
