<ion-view view-title="Recette">
  <ion-content elastic-image="the-image-id" class="padding">
    
    <div class="recettepers">
      
      <div class="container">
      
        <div id="the-image-id" class="elastic-image" style="background-image: url(../img/food3.jpg)"></div>

        <div class="contentetiquette">
          <img src="img/etiquette3.png" alt="photo" class="etiquette">

        </div>


    
        <div class="the-content">

          <h2>Avocat sur des toasts au saumon fumé</h2>

          <div class="text-center">
              
            <p><img src="img/nombre.png" alt="photo" class="img3">Pour 2 personnes :</p>

            <img src="img/point.png" alt="photo" class="point">
            
            <p>1 Avocat</p>
            <p>1 Yaourt</p>
            <p>75g de saumon fumé</p>
            <p>1 concombre</p>
            <p>½ citron </p>
            <p>1 Salade de cresson</p>
            <p>Pain de seigle</p>
            <p>une pincée de poivre</p>
            
            Sauce : 
            
            <p>½ piment rouge</p>
            <p>menthe finement haché (1 cuillère à soupe)</p>
            <p>1 tomate</p>
            <p>1 cuillère à café de vinaigre</p>
            <img src="img/point.png" alt="photo" class="point">

          </div>

          <div class="text-recette">
              <p>Couper la tomate en petits dés ainsi que le piment rouge. Melanger la tomate, le piment la menthe dans un récipient y ajouter un zeste de citron et le vinaigre.</p>

            <img src="img/point.png" alt="photo" class="point">


            <p>Couper l'avocat, enlever le noyau et vider le reste dans un bol.Ajouter le yaourt et le jus de citron et écraser le tout avec une fourchette. Bien assaisonner avec le sel et le poivre. </p>

            <img src="img/point.png" alt="photo" class="point">
            <img src="img/bol.png" alt="photo" class="bol">

            <p>Etaler l'avocat sur le pain de seigle grillé, saupoudrer un peu de poivre de cayenne et ajoutez le saumon fumé et le concombre. Pour finir verser délicatement la sauce.</p>


          </div>
          
        </div>  
      </div>
    </div>

  </ion-content>
</ion-view>   
