<ion-view view-title="Recette">
  <ion-content elastic-image="the-image-id" class="padding">
    
    <div class="recettepers">
      
      <div class="container">
      
         <div id="the-image-id" class="elastic-image">
          <img src="img/bagelvege.png" alt="photo" class="food">
        </div>

        <div class="contentetiquette">
          <img src="img/etiquette3.png" alt="photo" class="etiquette">
        </div>

        <div class="the-content">

          <h2>Bagel végétarien</h2>

          <div class="text-center">
              
            <p><i class="ion-fork"></i>  Pour 4 personnes (enfin pour 4 bagels…) :</p>

            <p>Difficulté  <i class="ion-ios-circle-filled"></i><i class="ion-ios-circle-filled"></i><i class="ion-ios-circle-filled"></i><i class="ion-ios-circle-outline"></i><i class="ion-ios-circle-outline"></i></p>

            <img src="img/point.png" alt="photo" class="point">
            
            <p>4 Bagels</p>
            <p>200 g de fromage de chèvre frais</p>
            <p>1 avocat mûr</p>
            <p>Une quinzaine de tomates séchées</p>
            <p>1 bonne poignée de pignons de pin</p>
            <p>1 peu de miel (environ 1 cuillère à café par bagel)/ou un peu de sirop d’agave</p>
            <p>2 cébettes</p>
            <p>4 poignées de mesclun</p>
            <p>Poivre noir</p>
            
            <img src="img/point.png" alt="photo" class="point">

          </div> 

          <div class="text-recette">
            <img src="img/bol.png" alt="photo" class="iconc">

            <p>Préchauffez votre four à 190°. Une fois chaud, enfournez les pignons de pins et faites les torréfier pendant 5 à 7 minutes, juste de quoi avoir des pignons bien doré.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/couteau.png" alt="photo" class="iconc">
            <p>Dans un petit bol, travaillez votre fromage avec une fourchette pour l’assouplir un peu. Poivrez le tout, éventuellement si vous êtes une chèvre, salez un peu, mais ce n’est pas trop nécessaire, le fromage est déjà salé en soit.</p>

            <img src="img/point.png" alt="photo" class="point">
      
            <img src="img/couteau.png" alt="photo" class="iconc">
            <p> Épongez un peu l’huile de vos tomates séchées, puis coupez-les en petits morceaux, ou en fines tranches. Ciselez très finement vos cébettes. Coupez votre avocat en 2, retirez le noyau puis épluchez-le. Pour retirer le noyau, ma petite technique pour ne pas faire trop de carnage, c’est de planter la lame d’un couteau dans le noyau (comme si vous essayez de le couper en 2), puis de tourner un peu la lame, comme si vous essayez de dévisser le noyau, et logiquement, si votre avocat est assez mur, le noyau s’enlève tout seul. Vous vous retrouvez donc avec 2 moitiés d’avocat.</p>
            
            <img src="img/point.png" alt="photo" class="point">
            <img src="img/couteau.png" alt="photo" class="iconc">

            <p>Là, c’est un peu au choix, l’idée est de faire de fines tranches d’avocats à la mandoline (un peu comme un carpaccio), mais si votre avocat est très mûr, ça risque d’être un peu compliqué. Dans ce cas-là, essayez juste de couper les plus fines tranches possible. Coupez votre bagel en 2, tartinez le de fromage frais, faites couler un fin filet de miel par dessus (ici une cuillère à miel c’est assez pratique), parsemez quelques pignons de pin par dessus, recouvrez de mesclun, ajoutez les tomates et les tranches avocat, un peu de cébettes ciselées et hop le tour est joué !
            </p>

            <img src="img/point.png" alt="photo" class="point">

             
          </div>
        </div>  
      </div>
       <a ui-sref="app.playlists"><img src="img/etiquettehome.png" alt="photo" class="etiquettehome"></a>

    </div>

  </ion-content>
</ion-view>   
