<ion-view view-title="Recette">
  <ion-content elastic-image="the-image-id" class="padding">
    
    <div class="recettepers">
      
      <div class="container">
      
        <div id="the-image-id" class="elastic-image">
          <img src="img/food88.png" alt="photo" class="food">
        </div>

        <div class="contentetiquette">
          <img src="img/etiquette3.png" alt="photo" class="etiquette">
        </div>

        <div class="the-content">

          <h2>Poêlée de poulet au parmesan en sauce</h2>

          <div class="text-center">
              
            <p><i class="ion-fork"></i> Pour 4 personnes :</p>

            <img src="img/point.png" alt="photo" class="point">
            
            <p>1 c. à soupe d'huile d'olive</p>
            <p>450 g de poitrines de poulet désossées et sans peau </p>
            <p>225 g de champignons frais, hachés</p>
            <p>1 oignon, haché</p>
            <p>540 ml de tomates en dés à l'italienne, non égouttées</p>
            <p>1/2 tasse de fromage râpé Mozzarella</p>
            <p>1/4 tasse de Parmesan râpé</p>

            <img src="img/point.png" alt="photo" class="point">

          </div>

          <div class="text-recette">
            <img src="img/cuisson.png" alt="photo" class="iconc">
            <p>Chauffer l'huile à feu moyen dans une grande poêle. Ajouter le poulet, les champignons et l'oignon; cuire de 8 à 10 min ou jusqu'à ce que le poulet soit bien cuit (170 ºF), en le retournant et en remuant les légumes après 5 min.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/bol.png" alt="photo" class="iconc">
            <p> Retirer le poulet de la poêle tout en y laissant les légumes; couvrir le poulet pour le garder au chaud. Mettre les tomates dans la poêle; remuer. Cuire 5 min ou jusqu'à ce que le tout soit chaud. Garnir du poulet.</p>

            <img src="img/point.png" alt="photo" class="point">

            <img src="img/bol.png" alt="photo" class="iconc">
            <p>Mélanger les fromages; en parsemer le poulet. Couvrir; cuire 2 min ou jusqu'à ce que le fromage ait fondu.</p>
          </div>
          
        </div>  
      </div>
      <a ui-sref="app.playlists"><img src="img/etiquettehome.png" alt="photo" class="etiquettehome"></a>
    </div>
  </ion-content>
</ion-view>   
