<ion-view view-title="Recette">
  <ion-content elastic-image="the-image-id" class="padding">
    
    <div class="recettepers">
      
      <div class="container">
      
        <div id="the-image-id" class="elastic-image" style="background-image: url(../img/food9.jpg)"></div>

        <div class="contentetiquette">
          <img src="img/etiquette3.png" alt="photo" class="etiquette">

        </div>


    
        <div class="the-content">

          <h2>Poêlée de poulet au parmesan en sauce</h2>

          <div class="text-center">
              
            <p><img src="img/nombre.png" alt="photo" class="img3">Pour 2 personnes :</p>

            <img src="img/point.png" alt="photo" class="point">
            
            <p>500 g de patates douces pelées </p>
            <p>110 g de couscous fin </p>
            <p>120 g de féta émiettée </p>
            <p>2 œufs légèrement battus</p>
            <p>2 cuillères à soupe d’aneth</p>
            <p>80 g de farine tamisée </p>
            <p>100 g de cerneaux de noix </p>
            <p>2 cuillères à soupe de miel liquide</p>
            <p>½ cuillère à café de cannelle moulue</p>
            <p>huile d’olive salade verte pour accompagner</p>



            <img src="img/point.png" alt="photo" class="point">

          </div>

          <div class="text-recette">
            <p>Faites chauffer le miel dans une poêle, ajoutez les cerneaux de noix et les griller quelques minutes. Ôtez du feu et saupoudrez de cannelle moulue, avant de bien mélanger et de disposer les cerneaux sur une feuille de papier cuisson. </p>

            <img src="img/point.png" alt="photo" class="point">


            <p> Versez le couscous dans un saladier, arrosez de 110 ml d’eau bouillante puis laissez gonfler 15 minutes à couvert. Chauffez un peu d’huile d’olive dans une poêle et faire revenir quelques minutes les patates douces jusqu’à tendreté. Laissez refroidir.
            Mélangez délicatement la patate douce avec le couscous, la féta, les œufs, la farine et l’aneth. Salez si nécessaire.</p>

            <img src="img/point.png" alt="photo" class="point">
            <img src="img/bol.png" alt="photo" class="bol">

            <p>Humidifiez vos mains et façonnez 10 galettes d’environ 7 cm de diamètre et 1,5 cm d’épaisseur. Chauffez l’huile dans une poêle et saisir les galettes 3-4 minutes sur chaque face. Dressez un peu de salade assaisonnée dans chaque assiette. Disposez deux galettes et décorez le pourtour de cerneaux de noix caramélisés à la cannelle. Inscrivez-vous à Top Chef.</p>


          </div>
          
        </div>  
      </div>
    </div>

  </ion-content>
</ion-view>   
