.button.button-calm {
    border-color: transparent;
    background-color: #387ef5;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 42px;
    cursor: pointer;
}

a {
    color: #fff;
    font-size: 16px;
}

.img{width: 100%;}

.coupc{padding: 0px!important;
margin-top: -5px;}
h1{
    font-size:21px;
    margin-top: -10px;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

h5{font-size: 15px;}

h3{color: white;}

.photo{
    background-color:#DFD3D3;    
    height: 35px;
    margin-top: -31px;
    width: 130px;
    margin-left: 26px;
}

.slider {
  height: 300px;
  background-color: #eee;
}

.div{width: 90%;
background-color: #D7BFBF;
height: 119px;}